<form [formGroup]="createtodoForm" fxLayout="column">
    <mat-form-field appearance="fill">
        <input 
            formControlName="todoName" 
            matNativeControl 
            placeholder="Title">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <textarea 
            formControlName="todoDescription" 
            matNativeControl 
            placeholder="Todos...">
        </textarea>
    </mat-form-field>
</form>
<div>
    <button class="mat-raised-button"
        (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"
        (click)="onSubmit()">Save</button>
</div>
<div class="row">
    Form value: {{ createtodoForm.value | json }}
    <!-- {state: {name: 'New York', abbrev: 'NY'} } -->
  </div>
