<form [formGroup]="createtodoForm" fxLayout="column">
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <input 
                formControlName="todoName" 
                matNativeControl 
                placeholder="Title">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <textarea 
                formControlName="todoDescription" 
                matNativeControl 
                placeholder="Todos...">
            </textarea>
        </mat-form-field>
    </div>
</form>
<div mat-dialog-actions>
    <button mat-button class="mat-button mat-warn"
        (click)="delete()">Delete</button>
    <button mat-button class="mat-raised-button">Edit</button>
    <button mat-button class="mat-raised-button mat-primary"
        (click)="addTodo()">Save</button>
</div>
<div class="row">
    Form value: {{ createtodoForm.value | json }}
    <!-- {state: {name: 'New York', abbrev: 'NY'} } -->
  </div>
