<mat-sidenav-container class="sidenav-style">
    <mat-sidenav mode="side" opened
    [attr.role]="" 
    class="sidenav-style" 
    fxFill>
    <mat-nav-list>
        Start
        <mat-card>
            <a mat-list-item href="#">Link 1</a>
        </mat-card><br>
        <mat-card> 
            <a mat-list-item href="#">Link 2</a>
        </mat-card><br>
        <mat-card>
            <a mat-list-item href="#">Link 3</a>
        </mat-card>
    </mat-nav-list><br>
    <button mat-fab color="primary" class="text-color" (click)=openDialog()>
        <mat-icon>add</mat-icon>
    </button>
    <div>
     
    </div>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
</mat-sidenav-container>
