<mat-sidenav-container class="sidenav-style">
    <mat-sidenav 
        mode="side" 
        opened
        [attr.role]="" 
        class="sidenav-style" 
        fxFill>
        <mat-nav-list *ngFor="let todo of todolist">
            <mat-card>
                <a  [ngClass]="{'underline':todo.completed === true}" 
                    mat-list-item 
                    [routerLink]="[todo.id]">{{todo.title}}
                </a>
            </mat-card><br>
        </mat-nav-list><br>
        <button 
            mat-fab 
            color="primary" 
            class="text-color" 
            (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
</mat-sidenav-container>
