<form *ngIf="editView; else readView" 
    [formGroup]="todoForm" fxLayout="column">
    <mat-form-field appearance="fill">
        <input 
            formControlName="todoName" 
            matNativeControl 
            placeholder="Title">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <textarea 
            formControlName="todoDescription" 
            matNativeControl 
            placeholder="Todos...">
        </textarea>
    </mat-form-field>
</form>
<ng-template #readView>
    <header><h2>{{todoDetails.title}}</h2></header>
    <section>{{todoDetails.description}}</section> 
</ng-template>
<div>
    <button class="mat-button mat-warn"
        (click)="delete()">Delete</button>
    <button *ngIf="!editView"
        class="mat-raised-button" 
        (click)="edit()">Edit</button>
    <button *ngIf="editView" 
        class="mat-raised-button"
        (click)="onCancel()">Cancel</button>
    <button *ngIf="editView" 
        class="mat-raised-button mat-primary"
        (click)="onSubmit()">Save</button>
</div>
<div class="row">
    Form value: {{ todoForm.value | json }}
    <!-- {state: {name: 'New York', abbrev: 'NY'} } -->
</div>
