.margin-top{
    margin-top: 1rem;
}
.margin{
    margin: 1rem;
}
.margin-right{
    margin-right: 1rem;
}
.margin-right-left{
    margin-right: 1rem;
    margin-left: 1rem;
}
.title{
    font-size: 1.3rem; /* TBD properly */
}
.title-mat-field-bottom{
    padding-bottom: 6px;
}
.text{
    font-size:1rem;
}
.text-fied-margin-top{
    margin-top: 6px ;
}
button{
    margin: 6px;
}
hr{
    width: 100%;
    height: 0;
    margin: 0;
    color: black;
}