<form  
    [formGroup]="todoForm" 
    fxLayout="column"
    class="margin"
    (ngSubmit)="onSubmit()"
    *ngIf="isFormHidden===false">
    <div fxLayout="row">
        <mat-checkbox
            fxFlex="1 1 15%"
            fxLayoutAlign="center center"
            formControlName="completed"
            [checked]="todoDetails.completed"
            (change)="onCompleted($event.checked)">
        </mat-checkbox>
        <div fxLayout="column" fxFlex="1 1 85%"
            *ngIf="editView === false ; else editTitle">    
            <mat-form-field 
                >
                <mat-label>Anna nimi</mat-label>
                <input  
                    matInput
                    class="title"
                    type="text"
                    formControlName="title" 
                    matNativeControl 
                    placeholder="Ex. Soita Kari klo 14."
                    readonly="true">
            </mat-form-field>
        </div>
        <ng-template #editTitle >
            <mat-form-field 
                fxLayout="column" 
                fxFlex="1 1 85%" 
                fxFlexFill   
                [appearance]="appearance">            
                <mat-label>Anna nimi</mat-label>
                <input 
                    appearance="appearance"  
                    matInput
                    class="title"
                    type="text"
                    formControlName="title" 
                    matNativeControl 
                    placeholder="Ex. Soita Kari klo 14.">
            </mat-form-field>
        </ng-template>
    </div>    
    <!-- <hr> -->
    <div fxLayout="column"
        *ngIf="editView === false; else editText">
        <mat-form-field
            [appearance]="appearance"
            class="text-fied-margin-top">
            <mat-label>Kirjoita tehtävä</mat-label>
            <textarea 
                matInput
                class="text"
                type="text"
                formControlName="description" 
                matNativeControl 
                placeholder="Ex. Ensi viime..."
                readonly="true">
            </textarea>
        </mat-form-field>
    </div>
    <ng-template #editText>
        <mat-form-field 
            [appearance]="appearance"
            class="text-fied-margin-top">
            <mat-label>Kirjoita tehtävä</mat-label>
            <textarea 
                matInput
                class="text"
                type="text"
                formControlName="description" 
                matNativeControl 
                placeholder="Ex. Ensi viime...">
            </textarea>
        </mat-form-field>
    </ng-template>
    <section 
        name="controls" 
        class="" >
        <button 
            class="mat-raised-button mat-warn"
            (click)="delete(todoDetails.id)">Delete
        </button>
        <button 
            *ngIf="editView"
            class="mat-raised-button"
            (click)="onCancel()">Cancel
        </button>
        <button
            *ngIf="editView === false" 
            class="mat-raised-button" 
            (click)="edit()">Edit
        </button>
        <button
            *ngIf="editView"    
            type="submit" 
            class="mat-raised-button mat-primary"
            (click)="onSubmit()">Save
        </button>
    </section>
</form>
